/* the error is an id so # if it is a class it should be.  */
#error {

    color: red;
}

#TEXTBLACKCJACK {
    color: goldenrod;
}

#input_btn {
    color: white;
    background: green;
    padding: 10px, 20px;
    width: 150px;
    height: 30px;
    border: none;
 
    
}

#input-el {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#Box {
    margin-top: 10px;
    padding: 30px;
    color: white;
    background-color: turquoise;
    text-align: center;
    width: 250px;

}




